/**
  * Time:2024/12/3 08:55 29
  * Name:font.css
  * Path:src/assets/css
  * ProjectName:argus-src
  * Author:charlatans
  *
  *  Il n'ya qu'un héroïsme au monde : 
  *     c'est de voir le monde tel qu'il est et de l'aimer.
  */

@font-face {
    font-display: block;
    font-family: "AnticDidone-Regular";
    src: url("/src/assets/fonts/Antic_Didone/AnticDidone-Regular.ttf");
}

@font-face {
    font-display: block;
    font-family: "Arizonia-Regular";
    src: url("/src/assets/fonts/Arizonia/Arizonia-Regular.ttf");
}

@font-face {
    font-display: block;
    font-family: "BadScript-Regular";
    src: url("/src/assets/fonts/Bad_Script/BadScript-Regular.ttf");
}

@font-face {
    font-display: block;
    font-family: "BadScript-Regular";
    src: url("/src/assets/fonts/Flow_Rounded/FlowRounded-Regular.ttf");
}
