@use 'base';

//#app {
//  max-width: 1280px;
//  margin: 0 auto;
//  padding: 2rem;
//  font-weight: normal;
//}

// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

// :root {
//   --ep-color-primary: red;
// }

body {
  font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (light-level: dim) {
  /* 在昏暗的环境光下生效 */
}

@media (prefers-color-scheme: dark) {
  /* 适用于深色模式 */
}

@media (prefers-color-scheme: light) {
  /* 适用于浅色模式 */
}

@media (prefers-reduced-motion: reduce) {
  /* 适用于用户偏好减少动画的场景 */
}

@media (orientation: portrait) {
  /* 纵向模式 */
}

@media (orientation: landscape) {
  /* 横向模式 */
}

@media (pointer: coarse) {
  /* 适用于触摸屏等粗指针设备 */
}

@media (pointer: fine) {
  /* 适用于鼠标等精细指针设备 */
}
