# For documentation on how to configure this file,
# see https://diesel.rs/guides/configuring-diesel-cli

[print_schema]
file = "src/storage/schema.rs"
custom_type_derives = ["diesel::query_builder::QueryId", "Clone"]

[migrations_directory]
dir = "D:\\argus\\argus-src\\src-tauri\\migrations"

# diesel migration run

# 生成数据库迁移 create_posts_table 为标识名称
# diesel migration generate create_posts_table

#Commands:
#migration     一组用于生成、运行和恢复迁移的命令。
#setup         创建迁移目录，创建 DATABASE_URL 中指定的数据库，并运行现有迁移。
#database      一组用于设置和重置数据库的命令。
#completions   为diesel命令生成shell完成脚本。
#print-schema  打印数据库模式的表定义。
#help          打印此消息或给定子命令的帮助
#
#Options:
#--database-url <DATABASE_URL>
#指定要连接的数据库 URL。如果未指定，则回退到 DATABASE_URL 环境变量。
#--config-file <CONFIG_FILE>
#要使用的配置文件的位置。如果未指定，则回退到“DIESEL_CONFIG_FILE”环境变量。默认为项目根目录中的“diesel.toml”。有关此文件的文档，请参阅diesel.rs/guides/configuring-diesel-cli。#
#--locked-schema
#当您的配置文件中指定了“print_schema.file”时，如果任何命令会导致该文件发生更改，则此标志将导致 Diesel CLI 出错。建议您在 CI 或生产中运行迁移时使用此标志。
#
#-h, --help
#Print help (see a summary with '-h')
#
#-V, --version
#Print version
#
#您还可以运行“diesel SUBCOMMAND -h”来获取有关该子命令的更多信息。
